{% extends 'base.html.twig' %}

{% block title %}Hello InscreptionController!{% endblock %}

{% block body %}
<h1>create User !!!!</h1>
{{ form_start(form)}}


    {{ form_widget(form)}}

    <button type="submit">Register!</button>

{{ form_end(form)}}




{% endblock %}
